<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        省份:
        <select v-model='pro'>
            <option :value="i" v-for='(p,i) in pros'>{{p}}</option>
        </select>
        城市:
        <select v-model='city'>
            <option :value="i" v-for='(c,i) in citys[pro]'>{{c}}</option>
        </select>
        <h3>
            你选择的是: {{`${pros[pro]}省 ${citys[pro][city]}市`}}
        </h3>
    </div>

    <script src="../vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                pro:'0',
                city:'0',
                pros:[
                    '江苏','山东','安徽','浙江','湖北'
                ],
                citys:[
                    ['南京','徐州','苏州','泰州','扬州'],
                    ['济南','日照','青岛','潍坊','莱芜'],
                    ['合肥','六安','滁州','黄山','芜湖'],
                    ['宁波','杭州','温州','金华','义乌'],
                    ['武汉','黄冈','荆门','宜昌','黄石']
                ]
            }
        })
    </script>
</body>
</html>